@page
@model IndexModel
@{
    ViewData["Title"] = "Final Project";
}

<div class="text-center">
    <h1 class="display-4">Welcome !!</h1>
    <p>Part 1 : User data protected by authorization</p>
</div>
